/* Add CSS Styling */
/* `Verdana` and `DejaVu Sans` with `sans-serif` */
.odd{
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#second{
    color: blue;
    font-size: 36px;
}

.font-size{
font-size: 24px;
}

#fourth{
    background-color: lightgreen;
    font-size: 24px;
}

