/* Add CSS Styling */


.both, .first ,.second{
    font-size: 28px;
    font-family: Arial, 'Times New Roman', Times, serif,Arial, Helvetica, sans-serif,sans-serif;
}
.first{
    background-color: black;
    color: white;
}

.second{
    background-color: yellow;
}